# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/
.venv.bak/
pip-selfcheck.json

# Environment variables
.env
.env.*

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Python egg info
*.egg-info/
dist/
build/